.wrapper{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   max-width: 1440px;
   margin: 0 auto;
}

.nav{
   grid-column: 1 / 13;
}

.menu{
   grid-column: 5 / 13;
}

.basket{
   grid-column: 1 / 4;
}