.container {
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  background: #e8e8e8;
  padding: 10px 15px;
  border-radius: 50px;
}

.icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.iconNav {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.activ:last-child(1) {
  background: #ffab08;
  border-radius: 50px;
  display: flex;
  align-items: center;
}


